@import url('https://fonts.googleapis.com/css2?family=Mohave&family=Oxygen:wght@300;400;700&family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color:#F2F2F1 ;
    font-family: 'Playfair Display', serif;
}


img{
    max-width: 50%;
}
@media screen and (orientation: portrait) {
    .responsive {
      width: 100%;
      height: auto;
    }
    
  }
  
  @media screen and (orientation: landscape) {
    .responsive {
      width: auto;
      height: 100%;
    }
    
  } 