<html>
    <head>

    </head>

    <body>
        <form asp-action="mostrarFuncion">
         <label for="nombre">Nombre comic:</label><br>
         <input type="text" name="nombre"><br>

         <label for="paginas">Paginas comic:</label><br>
         <input type="text" name="paginas"><br><br>

         <label for="paginas">Color comic:</label><br>
         <select name="color">
             <option value = "blancoNegro">Blanco y Negro</option>
             <option value="color">Color</option>
         </select>

         <input type="submit" value="Submit">
        </form>

        


    </body>
</html>


